@import "../../App.scss";
.container__error-message {
  margin: 2px 5px 1px 5px;
  text-align: center;

  .error-message {
    color: lighten($gray-dark, 18%);
    display: inline;
    padding: 1px 10px;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 4px;
  }
}
