.container__error-message {
  margin: 2px 0 15px 0;
  text-align: center;

  .error-message {
    background-color: rgb(255, 208, 0);
    color: gray;
    padding: 5px 10px;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 4px;
  }
}
