@import "../../App.scss";

.container__weather-card {
  width: 100%;
  font-weight: 400;
  display: grid;
  grid-template-rows: repeat(4, 6.6rem) 2rem;
  grid-template-columns: 50% 25% 25%;
  grid-template-areas:
    "icon temp temp"
    "icon actualTemp realTemp"
    //"icon min max"
    "icon wind wind"
    "description wSpeedDirection wSpeedDirection"
    "endborder endborder endborder";

  button {
    background-color: transparent;
    border: none;
    cursor: default;
  }

  h4 {
    font-weight: 400;
  }

  label {
    color: white;
    font-size: 1.7rem;
  }

  .item {
    color: white;
    text-align: center;
    font-size: 2rem;

    //SHARED PROPERTIES
    .wrapper__temp-units,
    .wrapper__wind-units {
      display: flex;
      justify-content: space-around;
    }

    &--2,
    &--3,
    &--4,
    &--8,
    &--10 {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    &--2,
    &--3,
    &--8,
    &--9 {
      border-radius: 0px 0px 0px 15px;
      border-bottom: 1px solid rgb(97, 94, 94);
    }
    //END SHARED

    &--1 {
      grid-area: icon;
      display: flex;
      justify-content: center;
      overflow: hidden;

      .not-available {
        padding-top: 9rem;
      }

      img {
        width: 80%;
        height: 80%;
        max-height: 19.2rem; //TODO: check
      }
    }

    &--7 {
      grid-area: description;
      padding: 3px;
      font-size: 2.1rem;
      display: grid;
      align-content: center;
    }

    &--2 {
      grid-area: temp; // Merging 2 areas
    }

    &--3 {
      grid-area: actualTemp;
      border-right: 1px solid rgb(97, 94, 94);
    }
    &--4 {
      grid-area: realTemp;
      border-bottom: 1px solid rgb(97, 94, 94);
    }

    &--8 {
      grid-area: wind; // Merging 2 areas
    }
    &--9 {
      grid-area: wSpeedDirection;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }
  p {
    //display: block;
    //background-color: red;
    font-size: 1.5rem;
    padding: 0 4px 40px 4px;
  }
}

.end-border {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  flex: 1;
  border-top: none;
  background-color: #423f3f;
}
