@import "../../App.scss";

.container__weather-card {
  background-color: lime;
  width: 100%;

  font-weight: 400;
  display: grid;
  grid-template-rows: repeat(4, 8rem) 2rem;
  grid-template-columns: 50% 25% 25%;
  grid-template-areas:
    "icon temp temp"
    "icon actualTemp realTemp"
    //"icon min max"
    "icon wind wind"
    "description wSpeedDirection wSpeedDirection"
    "endborder endborder endborder";

  button {
    background-color: transparent;
    border: none;
    cursor: default;
  }

  h4 {
    font-weight: 400;
  }

  label {
    color: white;
    font-size: 1.7rem;
  }

  .item {
    color: white;
    text-align: center;
    font-size: 2rem;

    //SHARED PROPERTIES
    .wrapper__temp-units,
    .wrapper__wind-units {
      display: flex;
      justify-content: space-around;
    }

    &--2,
    &--3,
    &--4,
    &--8,
    &--10 {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    &--2,
    &--3,
    &--8,
    &--9 {
      border-radius: 0px 0px 0px 15px;
      border-bottom: 1px solid rgb(97, 94, 94);
    }
    //END SHARED

    //ICON IMAGE & DESCRIPTION
    &--1 {
      grid-area: icon;
      display: flex;
      justify-content: center;
      overflow: hidden;

      .not-available {
        padding-top: 9rem;
      }

      img {
        display: block;
        width: 158px;
        height: 158px;
        margin-top: 20%;
        //max-height: 19rem; //TODO: check
      }
    }

    &--7 {
      grid-area: description;
      padding: 3px;
      font-size: 2.1rem;
      display: grid;
      align-content: center;
    }

    // TEMPERATURE
    &--2 {
      grid-area: temp; // Merging 2 areas
    }

    &--3 {
      grid-area: actualTemp;
      border-right: 1px solid rgb(97, 94, 94);
    }
    &--4 {
      grid-area: realTemp;
      border-bottom: 1px solid rgb(97, 94, 94);
    }

    // WIND
    &--8 {
      grid-area: wind; // Merging 2 areas
    }
    &--9 {
      grid-area: wSpeedDirection;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }
  // p {
  //   //display: block;
  //   //background-color: red;
  //   font-size: 1.5rem;
  //   padding: 0 4px 40px 4px;
  // }
}

@media (min-width: 576px) {
  #weather-icon {
    margin-top: 10%;
    width: 186px;
    height: 186px;
  }
}

// @media (min-width: 768px) {
//   #weather-icon {
//     margin-top: 6%;
//     width: 260px;
//     // height: auto;
//   }
// }

@media (min-width: 992px) {
  #weather-icon {
    margin-top: 2%;
    width: 236px;
    height: auto;
  }

  #weather-description {
    font-size: 3rem;
  }
}
