.container__hours {
  background-color: rgb(66, 63, 63);
  width: 100%;
  display: flex;
  flex-wrap: wrap; //good to por responsive without mediaQueries
  justify-content: center;
  padding: 7px;

  button {
    font-family: "digital-7regular";
    //padding: 0 0.6rem 0 0.6rem;
    font-size: 1.7rem;
    width: 4.5rem;
  }

  .active-hour {
    color: rgb(238, 59, 4);
  }
}
