.container__hours {
  background-color: rgb(66, 63, 63);
  width: 100%;
  padding: 10px 6px;
  display: flex;
  flex-wrap: wrap; //good for responsive without mediaQueries
  justify-content: center;

  button {
    width: 4.9rem;
    //margin: 1px;
    font-family: "digital-7regular";
    font-size: 1.7rem;
    &:hover {
      opacity: 0.9;
    }
  }

  .active-hour {
    color: rgb(238, 59, 4);
  }
}
