@import "../../App.scss";

.container__saved-cities-menu {
  //height is inline controlled - setContainerHeight()
  width: 90%;
  margin: 30px auto;
  overflow: hidden; //needed for when closing menu
  display: grid;
  grid-column-gap: 3px;
  grid-row-gap: 10px;
  grid-template-rows: 40px 20px 20px;
  grid-template-columns: 1fr 1fr 1fr auto auto;
  grid-template-areas:
    "city1 city2 city3 open open"
    "radiobtn1 radiobtn2 radiobtn2 question2 close"
    "save1 save2 save3 question3 close";

  //Shared properties
  .items,
  button {
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.3rem;
    outline: none;

  }

  .fa-angle-double-down,
  .fa-angle-double-up {
    font-size: 1.5rem;
  }

  //  ITEMS
  .items {
    display: flex;
    justify-content: center;
    align-items: center;

    .tooltips {
      padding: 0 6px;
      &:hover {
        cursor: help;
      }
    }

    &--4,
    &--5,
    &--6 {
      :focus {
        background-color: #9694947c;
      }
      :hover {
        background: $gray-dark;
        color: white;
        opacity: 0.8;
      }
    }

    //  OPEN & CLOSE MENU
    &--8 {
      grid-area: close;
      width: 20px;
      margin-left: 4px;
    }

    &--19 {
      grid-area: open;
      width: 20px;
      margin-left: 4px;
    }

    .save-btns {
      width: auto;
      padding: 0 8px;
    }

    button {
      background: #a6caee75;
      color: $white;
      width: 100%;
      height: 100%;
      padding: 0 3px;
      border: none;
      transition: background 250ms ease-in;
    }
  }

  .radio-btns,
  .save-btns {
    width: 55%;
    justify-self: center;
  }
}

@media (min-width: 768px) {
  .container__saved-cities-menu {
    width: 60%;
    grid-column-gap: 6px;

    .city-name {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}
