@import "../../App.scss";

.container__days-forecast {
  //background-color: $main-blue1;
  width: 100%;
  margin: auto;

  ul {
    //background-color: red;
    display: flex;
    justify-content: center;
  }

  li,
  button {
    border-radius: 7px 7px 0 0;
  }

  li {
    //background-color: green;
    font-size: 1.2rem;
    border-bottom: none;
    list-style: none;
  }

  li:nth-child(2) {
    margin: 0 1px 0 1px;
  }

  button {
    color: #ffffff;
    background: #096ee9;

    width: 100%;
    // !DECIDE!
    height: 2rem;
    height: 2.5rem;
    height: 3rem;
    height: 3.5rem;
    height: 4rem;
    ////////////////
    padding: 0px 20px;
    letter-spacing: 1px;
    border: none;
    opacity: 0.7;
    transition: background 350ms ease-out, transform 250ms ease;
    -moz-appearance: none;
    // -webkit-appearance: none;
    font-weight: 500;

    &:active {
      transform: scale(0.99);
    }
    &:focus {
      background: #0053ba;
      outline: none;
    }
    &:hover {
      background: #0053ba;
      opacity: 1;
    }
  }

  .tab-is-active {
    background-color: #423f3f;
    opacity: 1;
  }
}
