@import "../../App.scss";

.container__days-forecast {
  background-color: $main-blue1;
  width: 100%;
  margin: auto;
  //margin-bottom: 5px;
  border-bottom: lightslategray 1px solid;
  ul {
    //background-color: red;
    display: flex;
    height: 3rem;
    justify-content: center;
  }

  li {
    //background-color: green;
    list-style: none;
    overflow: hidden;
  }
  li:nth-child(2) {
    margin: 0 0.5px 0 0.5px;
  }

  button {
    //display: inline-block;
    opacity: 0.7;
    width: 100%;
    border-radius: 7px 7px 0 0;
    border: none;
    height: 3rem;
    padding: 0 10px;
    color: #ffffff;
    transition: background 350ms ease-out, transform 250ms ease;
    // -webkit-appearance: none;
    -moz-appearance: none;
  }

  button:hover {
    background: #0053ba;
    opacity: 1;
  }
  button:focus {
    outline: none;
    border: 1px solid black;
  }
  button:active {
    transform: scale(0.99);
  }
  .active {
    margin-top: 0;
    background-color: #0069ed;
    opacity: 1;
  }
  .inactive {
    background: #0069ed;
    //keep or delete?
  }
}
