@import "../../App.scss";

.container__days-forecast {
  //background-color: $main-blue1;
  width: 100%;
  margin: auto;
  //border-bottom: lightslategray 1px solid;

  ul {
    //background-color: red;
    display: flex;
    justify-content: center;
  }

  li,
  button {
    border-radius: 5px 5px 0 0;
  }

  li {
    //background-color: green;
    font-size: 1.2rem;
    border-bottom: none;
    list-style: none;
  }

  li:nth-child(2) {
    margin: 0 1px 0 1px;
  }

  button {
    color: #ffffff;
    width: 100%;
    height: 2.3rem;
    padding: 0px 20px;
    letter-spacing: 1px;
    opacity: 0.7;
    border: none;
    transition: background 350ms ease-out, transform 250ms ease;
    -moz-appearance: none;
    // -webkit-appearance: none;
    font-weight: 400;
    font-weight: 500;
  }

  button:hover {
    background: #0053ba;
    opacity: 1;
  }
  button:focus {
    outline: none;
  }
  button:active {
    transform: scale(0.99);
  }
  .active {
    background-color: #0069ed;
    background-color: #0a4286;
    background-color: #423f3f;

    opacity: 1;
  }
  .inactive {
    background: #0069ed;
    //keep or delete?
  }
}
