.header {
  color: darken(#faf9f9, 4%);
  padding: 2px 0 0 0;
  font-size: 1.1rem;
  text-align: center;

  h1 {
    padding-bottom: 3px;
    font-size: 3rem;
    font-weight: 500;
  }
  p {
    font-weight: 500;
  }
}

@media (min-width: 576px) {
  .header {
    padding: 4px 0 2px 0;
    h1 {
      padding-bottom: 0.8rem;
      font-size: 3.5rem;
    }
    p {
      font-size: 1.4rem;
    }
  }
}
