header {
  background-color: rgb(153, 224, 215);
  width: 100vw;
  padding: 7px;
  text-align: center;
  //position: relative;

  // .options {
  //   background-color: blueviolet;
  //   position: absolute;
  //   top: 5px;
  //   left: 5px;
  //   display: inline;
  // }
  .wrapper__header {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 3rem;
    font-weight: 500;
  }
  p {
    font-weight: 500;
  }
}
