@import "../../App.scss";

.container__search-city {
  //background-color: $main-blue1;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1.5rem 0;

  input {
    //background-color: black;
    width: 60%;
    height: 2rem;
    padding: 1px 3px;
    border-right: none; //to remove firefox automatic border-radius
    border-radius: 4px 0 0 4px;
  }

  /* Buttons styles start */
  button {
    background: $tabs-blue1;
    color: #ffffff;
    //display: inline-block;
    border: none;
    border-radius: 0 2px 2px 0;
    height: 2rem;
    padding: 0 10px;
    font-weight: 500;
    transition: background 350ms ease-out;
    //-webkit-appearance: none;
    //-moz-appearance: none;

    &:active {
      transform: scale(0.99);
    }
    &:hover,
    &:focus {
      background: lighten($tabs-blue1, 10%);
      font-weight: 600;
      outline: none;
    }
  }
}
