@import "../../App.scss";

.container__search-city {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;

  input,
  button {
    height: 2.4rem;
  }

  input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    width: 48%;
    padding: 1px 3px;
    border-right: none; //also removes firefox automatic border-radius
    border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    -webkit-border-right: none;
  }

  button {
    background: $secondary-blue;
    color: $white;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 0 10px;
    border: none;
    border-radius: 0 3px 3px 0;
    transition: background 350ms ease-out;
    //-webkit-appearance: none;
    //-moz-appearance: none;

    &:active {
      transform: scale(0.99);
    }
    &:hover,
    &:focus {
      background: lighten($secondary-blue, 10%);
      font-weight: 600;
      outline: none;
    }
  }
}

@media (min-width: 576px) {
  #input-search-city {
    width: 30%;
  }
}
