@import "../../App.scss";

.container__search-city {
  //background-color: $main-blue1;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1.5rem 0;

  input {
    //background-color: black;
    width: 60%;
    height: 2rem;
    padding: 1px 3px;
    border-right: none; //to remove firefox automatic border-radius
  }

  /* Buttons styles start */
  button {
    display: inline-block;
    border: none;
    height: 2rem;
    padding: 0 10px;
    background: #096ee9;
    color: #ffffff;
    transition: background 350ms ease-out;
    //-webkit-appearance: none;
    //-moz-appearance: none;
  }

  button:hover,
  button:focus {
    background: darken(#096ee9, 13%);
    outline: darken(#096ee9, 13%);
  }

  button:active {
    transform: scale(0.99);
  }
}
