@import "../../../App.scss";

.container__hours {
  background-color: $gray-dark;
  width: 100%;
  min-height: 35px;
  padding: 5px 6px;
  display: flex;
  flex-wrap: wrap; //good for responsive without mediaQueries
  justify-content: center;

  button {
    background-color: $gray-dark;
    color: lighten($gray-dark, 25%);
    width: 5.1rem; //don't use padding for left & right, buttons will have diff sizes.
    padding: 4px 0 4px 0;
    margin: 1px;
    font-size: 1.7rem;
    font-family: "digital-7regular";
    border: none;
    border-radius: 4px;
    outline: none;

    &:active,
    &:focus,
    &:hover {
      color: $main-blue;
      color: yellow;
    }
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .active-hour {
    color: yellow;
  }
}

@media (min-width: 768px) {
  .container__hours {
    display: flex;
    min-height: 47.6px;
    button {
      width: 9.1rem; //don't use padding for left & right, buttons will have diff sizes.
      padding: 7px 0;
      font-size: 2.4rem;
    }
  }
}
