.container__app {
  height: 100%;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button {
  text-transform: none;
  -webkit-appearance: none;
}
button:hover {
  cursor: pointer;
}

//TODO using these fonts?
$main-blue1: #7cafeb;
$tabs-blue1: #0059c5;
$menu-gray1: #a3a3a3; //used
$main-gray: #423f3f;
