.container__input-search-city {
  background-color: chartreuse;
  display: flex;
  text-align: center;

  form {
    background-color: chocolate;
    margin: auto;
  }
}

button:hover {
  cursor: pointer;
}
